<div class="dashboard-container">
    <article>
        <div class="name-container">
            <h2>Bienvenido {{nombre}}</h2>
            <span>
                Rol:&nbsp;
                <kbd>{{role}}</kbd>
            </span>
        </div>
        <form method="POST" action="/logout" style="margin-top: 5rem;">
            <button>Cerrar sesión</button>
        </form>
    </article>
</div>