<div class="dashboard-container">
    <article>
        <div class="name-container">
            <h2>Bienvenido {{nombre}}</h2>
            <span>
                Rol:&nbsp;
                <kbd>{{rol}}</kbd>  
            </span>
        </div>
    </article>
</div>