<div class="login-container">
    <article class="login-form-container margin-center">
        <h3>Login</h3>
        <form method="POST">
            <label for="username">Nombre de usuario</label>
            <input type="text" name="username">

            <label for="password">Contraseña</label>
            <input type="password" name="password">

            <button type="submit">Iniciar sesión</button>
        </form>
        <small>Si no tienes una cuenta, <a href="/signup">registrate</a>.</small>
        <small style="color: var(--muted-color);">Desarrollado por Elvis Tejeda</small>
    </article>
</div>