<div class="login-container">
    <article class="login-form-container margin-center">
        <h3>Login</h3>
        <form method="POST">
            <label for="username">Nombre de usuario</label>
            <input type="text" name="username">

            <label for="password">Contraseña</label>
            <input type="password" name="password">
            <button type="submit">Login</button>
        </form>
        <small>Desarrollado por Elvis Tejeda</small>
    </article>
</div>
