<div class="signup-container">
    <article class="signup-form-container margin-center">
        <h3>Registro</h3>
        <form method="POST" style="width: 100%">
            <label for="name">Nombre Completo</label>
            <input type="text" name="name" required />
            <div class="grid">
                <label for="username">
                    Nombre de usuario
                    <input type="text" name="username" required />
                </label>
                <label for="password">
                    Contraseña
                    <input type="password" name="password" required />
                </label>
            </div>
            <label for="role">Rol</label>
            <select name="role">
                {{#each roles}}
                <option value={{this.id}}>{{this.name}}</option>
                {{/each}}
            </select>
            <button type="submit">Crear cuenta</button>
        </form>
        <small>Si ya tienes una cuenta, <a href="/login">inicia sesión</a>.</small>
        <small style="color: var(--muted-color);">Desarrollado por Elvis Tejeda</small>
    </article>
</div>